<!--
  Rotas
 -->


 <!-- Aqui estamos passando uma classe que pode ser estilizada no css usando a tag abaixo:

 [routerLinkActive]="['activated']"

  -->
<div>
  <ul>
    <li>
      <a
          [routerLink]="['/']"
          [routerLinkActive]="['activated']"
          [routerLinkActiveOptions]="{exact:true}"
          >
          HOME
        </a>
      </li>
    <li>
      <a
        [routerLink]="['/portifolio']"
        [routerLinkActive]="['activated']"
        [routerLinkActiveOptions]="{exact:false}"
      >
      Portfólio
      </a>
  </li>
  </ul>
</div>


